- if flash[:notice]
  .alert.alert-success
    %center
      = flash[:notice].html_safe
- elsif flash[:error]
  .alert.alert-danger
    %center
      = flash[:error].html_safe
- elsif flash[:alert]
  .alert.alert-danger
    %center
      = flash[:alert].html_safe
